<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="dashboard p-3 w-100" style="height: 80vh;">
        <div class="row w-100">
            <div class="col-md-8">
                <div class="row w-100">
                    <div class="col-md-12 rounded d-flex align-items-center"
                        style="background-color: rgb(238, 205, 247);height: 80px;">
                        <h4 class="ms-4">WELCOME {{adminName}}</h4>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <h4>calender</h4>
                        <mat-card class="demo-inline-calendar-card">
                            <mat-calendar [(selected)]="selected"></mat-calendar>
                        </mat-card>
                        <!-- <p>Selected date: {{selected()}}</p> -->
                    </div>
                    <div class="col-md-6">
                        <h4>chart</h4>
                        <app-charts></app-charts>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rounded d-flex align-items-center justify-content-center flex-column" style="height: 400px;background-color:rgb(238, 205, 247) ;">
                    <img [src]="profileImg" alt="" height="150px" width="150px" style="border-radius: 50%;" *ngIf="!editAdminStatus">
                    <button class="btn" (click)="editAdmin()">Edit Admin Details <i class="fa-solid fa-pen ms-2"></i></button>
                    <div class="d-flex align-items-center justify-content-center flex-column" *ngIf="editAdminStatus">
                        <h3>Update Admin Details</h3>
                        <label for="profilePic">
                            <input type="file" style="display: none;" id="profilePic" (change)="getFile($event)">
                            <img [src]="profileImg" alt="" height="150px" width="150px" style="border-radius: 50%;">
                        </label>
                        <input type="text" placeholder="username" class="form-control mt-2" [(ngModel)]="adminName" name="adminName">
                        <input type="text" placeholder="password" class="form-control mt-2" [(ngModel)]="adminPwd" name="adminPwd">
                        <div class="d-flex justify-content-between mt-2 w-100">
                            <button class="btn btn-outline-info" (click)="cancelUpdate()">Cancel</button>
                            <button class="btn btn-outline-success" (click)="updateAdmin()">Update</button>
                        </div>
                    </div>
                </div>
                <div class="mt-3 d-flex align-items-center justify-content-center rounded"
                    style="height: 150px;background-color: rgb(237, 219, 242);">
                    <h4><i class="fa-solid fa-users me-3"></i><strong>Employee Count: {{employeeCount}}</strong></h4>
                </div>
            </div>
        </div>
    </div>
</div>